head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title Winston Huxley | Digital Creative Studio
	meta(name='description', content='Winston Huxley is a Digital Creative Agency. We focus on anything to do with the web; Web Development, Web Content Management, Custom CMS Installation, Web Application Development.')
	meta(name='keywords', content='Winston Huxley, Design, Web Design, Web Development, Gregory Tandiono.')
	meta(name='author', content='Gregory Tandiono | Winston Huxley')
	link(rel='stylesheet', type='text/css', href=locals.css[1].url)
	link(rel='stylesheet', type='text/css', href=locals.css[0].url)
	script(type='text/javascript', src=locals.js[0].url)
	script(type='text/javascript', src=locals.js[1].url)
	script(type='text/javascript', src=locals.js[2].url)
	link(rel='stylesheet', type='text/css', href=locals.css[2].url)