!!! 5
html.no-js(lang='en')
	include partials/header
	body
		header
			.uk-container.uk-container-center
				.brand.uk-float-left(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
					img(src=locals.images[0].url)
				.menu.uk-float-right(data-uk-scrollspy='{cls:\'uk-animation-fade\', delay: 300}')
					a.theContent
						| Menu 
						img(src=locals.images[1].url)
		main
			.interior-header-about
				.page-title.uk-container.uk-container-center
					h2 We're creative.
						br
						| We're professionals.
						br
						| and we make cool stuff.
			.interior-content
				.uk-container.uk-container-center.uk-width-large-1-2(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
					p Yes, we are a 
						strong Creative Agency. 
						| So, what makes us so special?
						| There's probably about a dozen times a million agencies
						| in the making or a bunch of freelancers starting a collective doing the exact same thing.
						| The truth is there is no clever way of putting it:
					p.uk-text-center(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
						i "We Create 
							strong Rich 
							| and 
							strong Beautiful 
							| Experiences"
					h2.uk-text-center.essentials(data-uk-scrollspy='{cls:\'uk-animation-fade\'}') and this is our thought process
					h2.uk-text-center(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
						i.uk-icon-arrow-down 
						i.uk-icon-arrow-down 
						i.uk-icon-arrow-down 
				.highlight-z-1(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
					.interior-pad
					.uk-container.uk-container-center
						.uk-grid
							.uk-width-large-1-2(data-uk-scrollspy='{cls:\'uk-animation-slide-bottom\', delay: 250}')
								h2 We Love UX
								p Winston Huxley handles more than "making things pretty," 
									| we make functional, rich contents for our clients.
									| We champion USER EXPERIENCE (UX) in our creative process.
							.uk-width-large-1-2
								img(src=locals.images[2].url, data-uk-scrollspy='{cls:\'uk-animation-fade\', delay: 800}')
				.highlight-z-2(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
					.interior-pad
					.uk-container.uk-container-center
						.uk-grid
							.uk-width-large-1-2
								img(src=locals.images[7].url, data-uk-scrollspy='{cls:\'uk-animation-fade\', delay: 800}')
							.uk-width-large-1-2(data-uk-scrollspy='{cls:\'uk-animation-slide-bottom\', delay: 250}')
								h2 We create a Medium
								p Aside from being a creative agency, we strive to turn 
									| clients the master of their own product, 
									| and we bridge client's idea into something great, 
									| between them & their audience.
				.highlight-z-3(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
					.interior-pad
					.interior-pad
					.uk-container.uk-container-center.uk-width-large-2-3
						.uk-grid
							.uk-width-large-1-2(data-uk-scrollspy='{cls:\'uk-animation-slide-bottom\', delay: 250}')
								img.uk-align-center(src=locals.images[4].url)
								h3.uk-text-center Gregory Tandiono 
									br
									small Founder & Chief Technical Officer
								p.uk-text-center
									| Gregory is the lead developer and Co-Founder of Winston Huxley. 
									| He leads the creative process in a variety of disciplines: Web Development, 
									| Web App Development, Branding, Design, and fluency in Ruby, Ruby on Rails, Node js, PHP. 
									| Greg is the creative fuel that runs Winston Huxley.
							.uk-width-large-1-2(data-uk-scrollspy='{cls:\'uk-animation-slide-bottom\', delay: 400}')
								img.uk-align-center(src=locals.images[5].url)
								h3.uk-text-center Jeff Braun 
									br
									small Chief of Operations
								p.uk-text-center
									| Jeffrey is an expert account manager and provides client service. 
									| His day-to-day duties are creating, keeping and building 
									| relationships with clients and ensure them a rich experience with Winston Huxley. 
									| In short, he is the physical body of Winston Huxley.
				.uk-container.uk-container-center.uk-width-large-1-2(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
					.interior-pad
					h2.uk-text-center(data-uk-scrollspy='{cls:\'uk-animation-fade\'}') Ready to Engage?
					a(href='/contact/').engage.uk-align-center Hire Us 
						i.uk-icon-long-arrow-right
					.interior-pad

		footer.interior
			.uk-container.uk-container-center.uk-text-center
				p
					| © Winston Huxley inc. All Rights Reserved.
					br
					| - Site Credits -
					br
					| From Vancouver with 
					i.uk-icon-heart
					br
					| Stardate: -309219.1519533233
		script(type='text/javascript', src=locals.js[5].url)
