!!! 5
html.no-js(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Winston Huxley | Digital Creative Studio
		meta(name='description', content='Winston Huxley is a Digital Creative Agency. We focus on anything to do with the web; Web Development, Web Content Management, Custom CMS Installation, Web Application Development.')
		meta(name='keywords', content='Winston Huxley, Design, Web Design, Web Development, Gregory Tandiono.')
		meta(name='author', content='Gregory Tandiono | Winston Huxley')
		link(rel='stylesheet', type='text/css', href=locals.css[1].url)
		link(rel='stylesheet', type='text/css', href=locals.css[0].url)
		script(type='text/javascript', src=locals.js[0].url)
		script(type='text/javascript', src=locals.js[1].url)
		script(type='text/javascript', src=locals.js[2].url)
		link(rel='stylesheet', type='text/css', href=locals.css[2].url)
	body
		header
			.brand.uk-float-left(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
				img(src=locals.images[0].url)
			.menu.uk-float-right(data-uk-scrollspy='{cls:\'uk-animation-fade\', delay: 300}')
				a.theContent
					| Menu 
					img(src=locals.images[1].url)
		main.home
			.welcome-note.uk-container.uk-container-center.uk-text-center(data-uk-scrollspy='{cls:\'uk-animation-fade\'}')
				#target
				.extra-pad
				a.action-btn(href='')
					| Explore 
					i.uk-icon-long-arrow-right
			footer
				.uk-container.uk-container-center.uk-text-center
					p
						| © Winston Huxley inc. All Rights Reserved.
						br
						| - Site Credits -
						br
						| From Vancouver with 
						i.uk-icon-heart
						br
						| Stardate: -309219.1519533233
		script(type='text/javascript', src=locals.js[3].url)
		script(type='text/javascript', src=locals.js[4].url)
